In [1]:
import pandas as pd 
import numpy as np

In [2]:
!ls

Deployment       Python_for_DS    Untitled.ipynb
Machine_Learning README.md        data

In [3]:
pd.read_excel('/Users/angelateng/Desktop/Book1.xls')

  test 1  test2   sdlfjgldf  lkdjhfg
0     df       3          5  fjghjf