<a href="https://colab.research.google.com/github/angelaaaateng/ftw_python/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python 
## FTW Foundation
June 25, 2022 - Day 1

## Outine: 
---
1. Hello, World
2. Python Basics
3. Variables
  - 3.1 Strings 
  - 3.2 Integers 
  - 3.3 Floats 
- < break > 
4. Data Types **< we are here >**
 - 4.1 Lists 
    - Changing, Adding, and Removing Elements 
    - Organizing a List 
    - Avoiding Index Errors when Working with Lists
    - Looping through an entire list
    - Avoiding indentation errors
    - Making numerical lists
    - working with part of a list
 - 4.2 Tuples 
 - 4.3 Dictionaries 
5. Functions 
6. If statements 
7. While loops
A. Appendix
 - A.1 Variable Naming Conventions
 - A.2 The Zen of Python



## References: 
---
- <a href='https://ehmatthes.github.io/pcc/index.html'>Python Crash Course</a>

Lists
===

- A list is a collection of items in a particular order. 
- You can make a list that
includes the letters of the alphabet, the digits from 0–9, or the names of
all the people in your family.
- You can put anything you want into a list, and the items in your list don’t have to be related in any particular way. 
- Because
a list usually contains more than one element, it’s a good idea to make the
name of your list plural, such as letters, digits, or names.

Introducing Lists
===
Example
---
A list is a collection of items, that is stored in a variable. There are no restrictions on what can be stored in a list. Here is a simple example of a list, and how we can quickly access each item in the list.

- In Python, square brackets ([]) indicate a list, and individual elements
in the list are separated by commas.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

- If you ask Python to print a list, Python returns its representation of the
list, including the square brackets
- Because this isn’t the output you want your users to see, let’s learn how
to access the individual items in a list.

In [ ]:
students = ['harry', 'ron', 'hermione']

for student in students:
    print("Hello, " + student.title() + "!")

Hello, Harry!
Hello, Ron!
Hello, Hermione!

Naming and defining a list
---
Since lists are collection of objects, it is good practice to give them a plural name. If each item in your list is a car, call the list 'cars'. If each item is a dog, call your list 'dogs'. This gives you a straightforward way to refer to the entire list ('dogs'), and to a single item in the list ('dog').

In Python, square brackets designate a list. To define a list, you give the name of the list, the equals sign, and the values you want to include in your list within square brackets.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

In [ ]:
dogs

['border collie', 'australian cattle dog', 'labrador retriever']

In [ ]:
wizards = ['ron', 'harry', 'hermione']
wizards

['ron', 'harry', 'hermione']

Accessing one item in a list
---
- Items in a list are identified by their position in the list, starting with zero. 
- their position in the list is also called the **index**

- This will almost certainly trip you up at some point. Programmers even joke about how often we all make "off-by-one" errors, so don't feel bad when you make this kind of error.

To access the first element in a list, you give the name of the list, followed by a zero in parentheses.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

dog = dogs[0]
print(dog)
print(dog.title())

border collie
Border Collie

The number in parentheses is called the **index** of the item. Because lists start at zero, the index of an item is always one less than its position in the list. So to get the second item in the list, we need to use an index of 1.

***Index Positions start at 0, not at 1***

- Python considers the first item in a list to be at position 0, not position 1.
This is true of most programming languages, and the reason has to do with
how the list operations are implemented at a lower level. If you’re receiving
unexpected results, determine whether you are making a simple off-by-one
error
- The second item in a list has an index of 1. Using this simple counting
system, you can get any element you want from a list by subtracting one
from its position in the list. For instance, to access the fourth item in a list,
you request the item at index 3.
- Do you know any languages where the index starts at 1, and not at 0? (Trivia question!)

In [ ]:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

dog = dogs[1]
print(dog.title())

Australian Cattle Dog

In [ ]:
dogs[0]

'border collie'

- When we ask for a single item from a
list, Python returns just that element without square brackets or quotation
marks

In [ ]:
print(dogs[2])

labrador retriever

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

### Accessing the last items in a list
You can probably see that to get the last item in this list, we would use an index of 2. This works, but it would only work because our list has exactly three items. To get the last item in a list, no matter how long the list is, you can use an index of -1.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

dog = dogs[-1]
print(dog.title())

Labrador Retriever

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

specialized

This syntax also works for the second to last item, the third to last, and so forth.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

dog = dogs[-2]
print(dog.title())

Australian Cattle Dog

- This syntax is quite useful,
because you’ll often want to access the last items in a list without knowing
exactly how long the list is.

You can't use a negative number larger than the length of the list, however.

In [ ]:
len(dogs)

3

In [ ]:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

dog = dogs[-4]
print(dog.title())

IndexError: ignored

## Using individual Values from a List

You can use individual values from a list just as you would any other variable.
For example, you can use concatenation to create a message based on
a value from a list.
Let’s try pulling the first bicycle from the list and composing a message
using that value.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

## DIY 1: Making friends at FTW 

1. Store the names of a 3 of your new FTW friends in a list called names. Print
each person’s name by accessing each element in the list, one at a time.
2. Now, print a message to them. The text of each message
should be the same, but each message should be personalized with the person’s name.

In [ ]:
# write your code here

In [ ]:
# write your code here

Lists and Looping
===

Accessing all elements in a list
---
This is one of the most important concepts related to lists. You can have a list with a million items in it, and in three lines of code you can write a sentence for each of those million items. If you want to understand lists, and become a competent programmer, make sure you take the time to understand this section.

We use a loop to access all the elements in a list. 

- A loop is a block of code that repeats itself until it runs out of items to work with, or until a certain condition is met. 

- In this case, our loop will run once for every item in our list. With a list that is three items long, our loop will run three times.

Let's take a look at how we access all the items in a list, and then try to understand how it works.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print(dog)

border collie
australian cattle dog
labrador retriever

We have already seen how to create a list, so we are really just trying to understand how the last two lines work. These last two lines make up a loop, and the language here can help us see what is happening:

    for dog in dogs:

- The keyword `for` tells Python to get ready to use a loop.
- The variable `dog`, with no "s" on it, is a *temporary placeholder variable*. This is the variable that Python will place each item in the list into, one at a time.
- The first time through the loop, the value of "dog" will be 'border collie'.
- The second time through the loop, the value of "dog" will be 'australian cattle dog'.
- The third time through, "dog" will be 'labrador retriever'.
- After this, there are no more items in the list, and the loop will end.
- Note: we can visualize this on a whiteboard to better understand looping

The site <a href="http://pythontutor.com/visualize.html#code=dogs+%3D+%5B'border+collie',+'australian+cattle+dog',+'labrador+retriever'%5D%0A%0Afor+dog+in+dogs%3A%0A++++print(dog)&mode=display&cumulative=false&heapPrimitives=false&drawParentPointers=false&textReferences=false&showOnlyOutputs=false&py=3&curInstr=0">pythontutor.com</a> allows you to run Python code one line at a time. As you run the code, there is also a visualization on the screen that shows you how the variable "dog" holds different values as the loop progresses. There is also an arrow that moves around your code, showing you how some lines are run just once, while other lines are run multiple tiimes. If you would like to see this in action, click the Forward button and watch the visualization, and the output as it is printed to the screen. Tools like this are incredibly valuable for seeing what Python is doing with your code.

### Doing more with each item

We can do whatever we want with the value of "dog" inside the loop. In this case, we just print the name of the dog.

    print(dog)

We are not limited to just printing the word dog. We can do whatever we want with this value, and this action will be carried out for every item in the list. Let's say something about each dog in our list.

In [ ]:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dog + 's.')

I like border collies.
I like australian cattle dogs.
I like labrador retrievers.

Visualize this on <a href="http://pythontutor.com/visualize.html#code=dogs+%3D+%5B'border+collie',+'australian+cattle+dog',+'labrador+retriever'%5D%0A%0Afor+dog+in+dogs%3A%0A++++print('I+like+'+%2B+dog+%2B+'s.')&mode=display&cumulative=false&heapPrimitives=false&drawParentPointers=false&textReferences=false&showOnlyOutputs=false&py=3&curInstr=0">pythontutor</a>.

### Inside and outside the loop

Python uses indentation to decide what is inside the loop and what is outside the loop. Code that is inside the loop will be run for every item in the list. Code that is not indented, which comes after the loop, will be run once just like regular code.

In [ ]:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dog + 's.')
    print('No, I really really like ' + dog +'s!\n')
    
print("\nThat's just how I feel about dogs.")

I like border collies.
No, I really really like border collies!

I like australian cattle dogs.
No, I really really like australian cattle dogs!

I like labrador retrievers.
No, I really really like labrador retrievers!


That's just how I feel about dogs.

Notice that the last line only runs once, after the loop is completed. Also notice the use of newlines ("\n") to make the output easier to read. Run this code on <a href="http://pythontutor.com/visualize.html#code=dogs+%3D+%5B'border+collie',+'australian+cattle+dog',+'labrador+retriever'%5D%0A%0Afor+dog+in+dogs%3A%0A++++print('I+like+'+%2B+dog+%2B+'s.')%0A++++print('No,+I+really+really+like+'+%2B+dog+%2B's!%5Cn')%0A++++%0Aprint(%22%5CnThat's+just+how+I+feel+about+dogs.%22)&mode=display&cumulative=false&heapPrimitives=false&drawParentPointers=false&textReferences=false&showOnlyOutputs=false&py=3&curInstr=0">pythontutor</a>.

Enumerating a list
---
When you are looping through a list, you may want to know the index of the current item. You could always use the `list.index(value)` syntax, but there is a simpler way. The `enumerate()` function tracks the index of each item for you, as it loops through the list:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print("Results for the dog show are as follows:\n")
for index, dog in enumerate(dogs):
    place = str(index)
    print("Place: " + place + " Dog: " + dog.title())

Results for the dog show are as follows:

Place: 0 Dog: Border Collie
Place: 1 Dog: Australian Cattle Dog
Place: 2 Dog: Labrador Retriever

To enumerate a list, you need to add an *index* variable to hold the current index. So instead of

    for dog in dogs:
    
You have

    for index, dog in enumerate(dogs)
    
The value in the variable *index* is always an integer. If you want to print it in a string, you have to turn the integer into a string:

    str(index)
    
The index always starts at 0, so in this example the value of *place* should actually be the current index, plus one:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print("Results for the dog show are as follows:\n")
for index, dog in enumerate(dogs):
    place = str(index + 1)
    print("Place: " + place + " Dog: " + dog.title())

Results for the dog show are as follows:

Place: 1 Dog: Border Collie
Place: 2 Dog: Australian Cattle Dog
Place: 3 Dog: Labrador Retriever

### A common looping error
One common looping error occurs when instead of using the single variable *dog* inside the loop, we accidentally use the variable that holds the entire list:

In [ ]:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print(dogs)

['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']

In this example, instead of printing each dog in the list, we print the entire list every time we go through the loop. Python puts each individual item in the list into the variable *dog*, but we never use that variable. Sometimes you will just get an error if you try to do this:

In [ ]:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dogs + 's.')

TypeError: ignored

## DIY 2: Fix the code above to remove the error

In [ ]:
# write your code here

Common List Operations
===

Modifying elements in a list
---
You can change the value of any element in a list if you know the position of that item.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
print("Original List: ", dogs)

dogs[0] = 'australian shepherd'
print("Modified List: ", dogs)

Original List:  ['border collie', 'australian cattle dog', 'labrador retriever']
Modified List:  ['australian shepherd', 'australian cattle dog', 'labrador retriever']

Finding an element in a list
---
If you want to find out the position of an element in a list, you can use the index() function.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print(dogs.index('australian cattle dog'))

1

This method returns a ValueError if the requested item is not in the list.

In [ ]:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print(dogs.index('poodle'))

ValueError: ignored

Testing whether an item is in a list
---
You can test whether an item is in a list using the "in" keyword. This will become more useful after learning how to use if-else statements.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print('australian cattle dog' in dogs)
print('poodle' in dogs)

True
False

Adding items to a list
---
### Appending items to the end of a list
We can add an item to a list using the append() method. This method adds the new item to the end of the list.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
print("Original Dog List: ", dogs)
dogs.append('poodle')

print("Full updated dog list: ", dogs)

for dog in dogs:
    print(dog.title() + "s are cool.")

Original Dog List:  ['border collie', 'australian cattle dog', 'labrador retriever']
Full updated dog list:  ['border collie', 'australian cattle dog', 'labrador retriever', 'poodle']
Border Collies are cool.
Australian Cattle Dogs are cool.
Labrador Retrievers are cool.
Poodles are cool.

### Inserting items into a list
We can also insert items anywhere we want in a list, using the **insert()** function. We specify the position we want the item to have, and everything from that point on is shifted one position to the right. In other words, the index of every item after the new item is increased by one.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.insert(1, 'poodle')

print(dogs)

['border collie', 'poodle', 'australian cattle dog', 'labrador retriever']

In [ ]:
# Finding help on Python functions using Google Colab tools
?list.insert

Note that you have to give the position of the new item first, and then the value of the new item. If you do it in the reverse order, you will get an error.

Creating an empty list
---
- Now that we know how to add items to a list after it is created, we can use lists more dynamically. We are no longer stuck defining our entire list at once.

- A common approach with lists is to define an empty list, and then let your program add items to the list as necessary. 


- This approach works, for example, when starting to build an interactive web site. Your list of users might start out empty, and then as people register for the site it will grow. This is a simplified approach to how web sites actually work, but the idea is realistic.

- Here is a brief example of how to start with an empty list, start to fill it up, and work with the items in the list. The only new thing here is the way we define an empty list, which is just an empty set of square brackets.

- "Dynamic Lists"

In [ ]:
# Create an empty list to hold our users.
usernames = []

print("Usernames: ", usernames)

# Add some users.
usernames.append('eugene')
print("Usernames: ", usernames)
usernames.append('jeremiah')
print("Usernames: ", usernames)
usernames.append('toguro')
print("Usernames: ", usernames)

# Greet all of our users.
for username in usernames:
    print("Welcome, " + username.title() + '!')

Usernames:  []
Usernames:  ['eugene']
Usernames:  ['eugene', 'jeremiah']
Usernames:  ['eugene', 'jeremiah', 'toguro']
Welcome, Eugene!
Welcome, Jeremiah!
Welcome, Toguro!

If we don't change the order in our list, we can use the list to figure out who our oldest and newest users are.

In [ ]:

# Create an empty list to hold our users.
usernames = []

# Add some users.
usernames.append('eugene')
usernames.append('jeremiah')
usernames.append('toguro')

# Greet all of our users.
for username in usernames:
    print("Welcome, " + username.title() + '!')

# Recognize our first user, and welcome our newest user.
print("\nThank you for being our very first user, " + usernames[0].title() + '!')
print("And a warm welcome to our newest user, " + usernames[-1].title() + '!')

Welcome, Eugene!
Welcome, Jeremiah!
Welcome, Toguro!

Thank you for being our very first user, Eugene!
And a warm welcome to our newest user, Toguro!

Note that the code welcoming our newest user will always work, because we have used the index -1. If we had used the index 2 we would always get the third user, even as our list of users grows and grows.

Sorting a List
---
We can sort a list alphabetically, in either order.

- Often, your lists will be created in an unpredictable order, because you can’t
always control the order in which your users provide their data.
- Although
this is unavoidable in most circumstances, you’ll frequently want to present
your information in a particular order. 
- Sometimes you’ll want to preserve the
original order of your list, and other times you’ll want to change the original
order. 
- Python provides a number of different ways to organize your lists,
depending on the situation.

In [ ]:
students = ['hermnione', 'harry', 'ron']

# Put students in alphabetical order.
students.sort()

# Display the list in its current order.
print("Our students are currently in alphabetical order.")
for student in students:
    print(student.title())

#Put students in reverse alphabetical order.
students.sort(reverse=True)

# Display the list in its current order.
print("\nOur students are now in reverse alphabetical order.")
for student in students:
    print(student.title())

Our students are currently in alphabetical order.
Harry
Hermnione
Ron

Our students are now in reverse alphabetical order.
Ron
Hermnione
Harry

In [ ]:
?list.sort()



```
Signature: list.sort(*, key=None, reverse=False)
Docstring: Stable sort *IN PLACE*.
Type:      method_descriptor
```

- The `sort()` method, shown above, changes the order of the list permanently.
- The Hogwarts students are now in alphabetical order, and we can never revert to
the original order

### *sorted()* vs. *sort()*
Whenever you consider sorting a list, keep in mind that you can not recover the original order. If you want to display a list in sorted order, but preserve the original order, you can use the *sorted()* function. The *sorted()* function also accepts the optional *reverse=True* argument.

In [ ]:
students = ['hermnione', 'harry', 'ron']

# Display students in alphabetical order, but keep the original order.
print("Here is the list in alphabetical order:")
for student in sorted(students):
    print(student.title())

# Display students in reverse alphabetical order, but keep the original order.
print("\nHere is the list in reverse alphabetical order:")
for student in sorted(students, reverse=True):
    print(student.title())

print("\nHere is the list in its original order:")
# Show that the list is still in its original order.
for student in students:
    print(student.title())

Here is the list in alphabetical order:
Harry
Hermnione
Ron

Here is the list in reverse alphabetical order:
Ron
Hermnione
Harry

Here is the list in its original order:
Hermnione
Harry
Ron

To maintain the original order of a list but present it in a sorted order, you
can use the sorted() function. The sorted() function lets you display your list
in a particular order but doesn’t affect the actual order of the list.

- Note: Sorting a list alphabetically is a bit more complicated when all the values are not in
lowercase. There are several ways to interpret capital letters when you’re deciding on
a sort order, and specifying the exact order can be more complex than we want to deal
with at this time.

### Reversing a list
We have seen three possible orders for a list:
- The original order in which the list was created
- Alphabetical order
- Reverse alphabetical order

There is one more order we can use, and that is the reverse of the original order of the list. The *reverse()* function gives us this order.

In [ ]:
students = ['hermnione', 'harry', 'ron']
students.reverse()

print(students)

['ron', 'harry', 'hermnione']

Note that reverse is permanent, although you could follow up with another call to *reverse()* and get back the original order of the list.

In [ ]:
students.reverse()
print(students)

['hermnione', 'harry', 'ron']

### Sorting a numerical list
All of the sorting functions work for numerical lists as well.

In [ ]:
numbers = [1, 3, 4, 2]

# sort() puts numbers in increasing order.
numbers.sort()
print(numbers)

# sort(reverse=True) puts numbers in decreasing order.
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
numbers = [1, 3, 4, 2]

# sorted() preserves the original order of the list:
print("Sorted numbers: ", sorted(numbers))
print("Unsorted numbers: ", numbers)

Sorted numbers:  [1, 2, 3, 4]
Unsorted numbers:  [1, 3, 4, 2]

In [ ]:
numbers = [1, 3, 4, 2]

# The reverse() function also works for numerical lists.
numbers.reverse()
print(numbers)

[2, 4, 3, 1]

Finding the length of a list
---
You can find the length of a list using the *len()* function.

In [ ]:
usernames = ['blossom', 'bubbles', 'buttercup']
user_count = len(usernames)

print(user_count)

3

There are many situations where you might want to know how many items in a list. If you have a list that stores your users, you can find the length of your list at any time, and know how many users you have.

In [ ]:
# Create an empty list to hold our users.
usernames = []

# Add some users, and report on how many users we have.
usernames.append('blossom')
user_count = len(usernames)

print("We have " + str(user_count) + " user!")

usernames.append('bubbles')
usernames.append('buttercup')
user_count = len(usernames)

print("We have " + str(user_count) + " users!")

We have 1 user!
We have 3 users!

On a technical note, the *len()* function returns an integer, which can't be printed directly with strings. We use the *str()* function to turn the integer into a string so that it prints nicely:

In [ ]:
usernames = ['blossom', 'bubbles', 'buttercup']
user_count = len(usernames)

print("This will cause an error: " + user_count)

# we see that we are trying to concatenate different data types

TypeError: ignored

In [ ]:
usernames = ['blossom', 'bubbles', 'buttercup']
user_count = len(usernames)

print("This will work: " + str(user_count))

This will work: 3

- Python counts the items in a list starting with one, so you shouldn’t run into any offby-
one errors when determining the length of a list.

Removing Items from a List
===
Hopefully you can see by now that lists are a dynamic structure. We can define an empty list and then fill it up as information comes into our program. To become really dynamic, we need some ways to remove items from a list when we no longer need them. You can remove items from a list through their position, or through their value.

- For example, when a user decides to cancel their account on a web application you created, you’ll
want to remove that user from the list of active users. You can remove an
item according to its position in the list or according to its value.

Removing items by position
---
If you know the position of an item in a list, you can remove that item using the *del* command. To use this approach, give the command *del* and the name of your list, with the index of the item you want to move in square brackets:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
print(dogs)
# Remove the first dog from the list.
del dogs[0]

print(dogs)

['border collie', 'australian cattle dog', 'labrador retriever']
['australian cattle dog', 'labrador retriever']

In [ ]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(rainbow)
# Remove the first color from the rainbow
del rainbow[0]
print(rainbow)

del rainbow[1]
print(rainbow)

del rainbow[3]
print(rainbow)

del rainbow[1]
print(rainbow)

del rainbow[2]
print(rainbow)

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
['orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
['orange', 'green', 'blue', 'indigo', 'violet']
['orange', 'green', 'blue', 'violet']
['orange', 'blue', 'violet']
['orange', 'blue']

Removing items by value
---
You can also remove an item from a list if you know its value. To do this, we use the *remove()* function. Give the name of the list, followed by the word remove with the value of the item you want to remove in parentheses. Python looks through your list, finds the first item with this value, and removes it.

- Sometimes you won’t know the position of the value you want to remove
from a list. If you only know the value of the item you want to remove, you
can use the remove() method.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
# Remove australian cattle dog from the list.
dogs.remove('australian cattle dog')

print(dogs)

['border collie', 'labrador retriever']

Be careful to note, however, that *only* the first item with this value is removed. If you have multiple items with the same value, you will have some items with this value left in your list.

In [ ]:
letters = ['a', 'b', 'c', 'a', 'b', 'c']
# Remove the letter a from the list.
letters.remove('a')

print(letters)

['b', 'c', 'a', 'b', 'c']

- The remove() method deletes only the first occurrence of the value you specify. If there’s
a possibility the value appears more than once in the list, you’ll need to use a loop to
determine if all occurrences of the value have been removed.

Popping items from a list
---
- Sometimes you’ll want to use the value of an item after you remove it from a
list.

- In a web
application, you might want to remove a user from a list of active members
and then add that user to a list of inactive members.

- The pop() method removes the last item in a list, but it lets you work
with that item after removing it. The term pop comes from thinking of a
list as a stack of items and popping one item off the top of the stack. In
this analogy, the top of a stack corresponds to the end of a list.

- Think of a stack similar to the concept of stacking plates one on top of the other

- There is a cool concept in programming called "popping" items from a collection. Every programming language has some sort of data structure similar to Python's lists. All of these structures can be used as queues, and there are various ways of processing the items in a queue.

- One simple approach is to start with an empty list, and then add items to that list. When you want to work with the items in the list, you always take the last item from the list, do something with it, and then remove that item. The *pop()* function makes this easy. It removes the last item from the list, and gives it to us so we can work with it. This is easier to show with an example:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
last_dog = dogs.pop()

print(last_dog)
print(dogs)

labrador retriever
['border collie', 'australian cattle dog']

This is an example of a first-in, last-out approach. The first item in the list would be the last item processed if you kept using this approach. We will see a full implementation of this approach later on, when we learn about *while* loops.

You can actually pop any item you want from a list, by giving the index of the item you want to pop. So we could do a first-in, first-out approach by popping the first iem in the list:

In [ ]:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
first_dog = dogs.pop(0)

print(first_dog)
print(dogs)

border collie
['australian cattle dog', 'labrador retriever']

- Remember that each time you use pop(), the item you work with is no
longer stored in the list.

**Note**: If you’re unsure whether to use the del statement or the pop() method,
here’s a simple way to decide: when you want to delete an item from a list
and not use that item in any way, use the del statement; if you want to use an
item as you remove it, use the pop() method.

### Avoiding Index Errors When Working with Lists

One type of error is common to see when you’re working with lists for the
first time. Let’s say you have a list with three items, and you ask for the
fourth item:

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[3])

IndexError: ignored

Python attempts to give you the item at index 3. But when it searches
the list, no item in motorcycles has an index of 3. 

- Because of the off-by-one
nature of indexing in lists, this error is typical. People think the third item
is item number 3, because they start counting at 1. But in Python the third
item is number 2, because it starts indexing at 0.

- An index error means Python can’t figure out the index you requested.
- If
an index error occurs in your program, try adjusting the index you’re asking
for by one. Then run the program again to see if the results are correct.
- Keep in mind that whenever you want to access the last item in a list
you use the index -1. This will always work, even if your list has changed
size since the last time you accessed it:

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki

The only time this approach will cause an error is when you request the
last item from an empty list:

In [ ]:
motorcycles = []
print(motorcycles[-1])

IndexError: ignored

No items are in motorcycles, so Python returns another index error.

**Debugging Tip:**
If an index error occurs and you can’t figure out how to resolve it, try printing your
list or just printing the length of your list. Your list might look much different than
you thought it did, especially if it has been managed dynamically by your program.
Seeing the actual list, or the exact number of items in your list, can help you sort out
such logical errors.

## DIY 3: Guest List 

1. If you could invite anyone to dinner, who
would you invite? Make a list that includes at least three people you’d like to
invite to dinner. 
2. You just heard that one of your guests can’t make the
dinner, so you need to send out a new set of invitations. You’ll have to think of
someone else to invite. Add a print statement at the
end of your program stating the name of the guest who can’t make it.
3. Modify your list, replacing the name of the guest who can’t make it with
the name of the new person you are inviting.
4. You just found a bigger dinner table, so now more space is
available. Use insert() to add one new guest to the beginning of your list.
5. Use append() to add one new guest to the end of your list.

In [ ]:
# write your code here

In [ ]:
# write your code here

In [ ]:
# write your code here

In [ ]:
# write your code here

In [ ]:
# write your code here

# Working with Lists

- Earlier, you learned how to make a
simple list, and you learned to work with
the individual elements in a list. 

- Now, 
you’ll learn how to loop through an entire
list, and work with all the elements of a list, using just a few lines of code regardless of how
long the list is. 

- Looping allows you to take the same action, or set of actions,
with every item in a list. As a result, you’ll be able to work efficiently with
lists of any length, including those with thousands or even millions of items.

- We saw a preview of loops earlier, and now we'll take a deeper dive into it

- You’ll often want to run through all entries in a list, performing the same
task with each item.

- When you want to do the same action with every item in a list, you can
use Python’s `for` loop.

## For Loops

Let’s say we have a list of wizards' names, and we want to print out
each name in the list. We could do this by retrieving each name from the
list individually, but this approach could cause several problems. For one,
it would be repetitive to do this with a long list of names. Also, we’d have to
change our code each time the list’s length changed. A for loop avoids both
of these issues by letting Python manage these issues internally.

In [ ]:
wizards = ['harry','ron', 'hermione']
for wizard in wizards:
  print(wizard)

harry
ron
hermione

- We begin by defining a list in line 1. 
- At line 2,
we define a for loop. This line tells Python to pull a name from the list
`wizards`, and store it in the variable `wizards`. 
- At line 3 we tell Python to print
the name that was just stored in `wizards`. Python then repeats lines 2
and 3, once for each name in the list. 
- It might help to read this code as
“For every wizard in the list of wizards, print the wizard's name.”

Keep in mind when writing your own for loops that you can choose
any name you want for the temporary variable that holds each value in the
list. However, it’s helpful to choose a meaningful name that represents a
single item from the list

## Doing More Work Within a for Loop

You can do just about anything with each item in a for loop. Let’s build on
the previous example by printing a message to each wizard, telling them
that they performed a great spell:

In [ ]:
wizards = ['harry','ron', 'hermione']
for wizard in wizards:
  print(wizard.title() + ", that was a great Wingardium Leviosa!")

Harry, that was a great Wingardium Leviosa!
Ron, that was a great Wingardium Leviosa!
Hermione, that was a great Wingardium Leviosa!

- You can also write as many lines of code as you like in the for loop
- Every indented line following the line for `wizard in wizards` is considered
inside the loop, and each indented line is executed once for each value in the list. Therefore, you can do as much work as you like with
each value in the list.

In [ ]:
wizards = ['harry','ron', 'hermione']
for wizard in wizards:
  print(wizard.title() + ", that was a great Wingardium Leviosa!")
  print("I can't wait to see your next spell " + wizard.title() + ".\n")

Harry, that was a great Wingardium Leviosa!
I can't wait to see your next spell Harry.

Ron, that was a great Wingardium Leviosa!
I can't wait to see your next spell Ron.

Hermione, that was a great Wingardium Leviosa!
I can't wait to see your next spell Hermione.

## Doing Something After A Loop 

What happens once a for loop has finished executing? Usually, you’ll want
to summarize a block of output or move on to other work that your program
must accomplish.
Any lines of code after the for loop that are not indented are executed
once without repetition.

We can place our message after the for loop without indentation:

In [ ]:
wizards = ['harry','ron', 'hermione']
for wizard in wizards:
  print(wizard.title() + ", that was a great Wingardium Leviosa!")
  print("I can't wait to see your next spell " + wizard.title() + ".\n")

print("10 Points for Gryffindor!")

Harry, that was a great Wingardium Leviosa!
I can't wait to see your next spell Harry.

Ron, that was a great Wingardium Leviosa!
I can't wait to see your next spell Ron.

Hermione, that was a great Wingardium Leviosa!
I can't wait to see your next spell Hermione.

10 Points for Gryffindor!

### Avoiding indentation errors

Python uses indentation to determine when one line of code is connected to
the line above it. 

- In the previous examples, the lines that printed messages to
individual wizards were part of the for loop because they were indented.
Python’s use of indentation makes code very easy to read. 
- Basically, it uses
whitespace to force you to write neatly formatted code with a clear visual
structure. 
- In longer Python programs, you’ll notice blocks of code indented
at a few different levels. These indentation levels help you gain a general
sense of the overall program’s organization.
- As you begin to write code that relies on proper indentation, you’ll
need to watch for a few common indentation errors. For example, people
sometimes indent blocks of code that don’t need to be indented or forget
to indent blocks that need to be indented.

## DIY 4: Error Spotting
**Can you identify the indentation errors below?**

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
print(magician)

IndentationError: ignored

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician.title() + ", that was a great trick!")
print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

The above error is a *logical error*

The syntax is valid Python code, but the code does
not produce the desired result because a problem occurs in its logic. If you
expect to see a certain action repeated once for each item in a list and it’s
executed only once, determine whether you need to simply indent a line or
a group of lines.

In [ ]:
message = "Hello Python world!"
  print(message)

IndentationError: ignored

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician.title() + ", that was a great trick!")
  print("I can't wait to see your next trick, " + magician.title() + ".\n")
  print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you everyone, that was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you everyone, that was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians
  print(magician)

SyntaxError: ignored

Slicing a List (Working with part of a list) 
===

- You can also work with a specific group of items in a list, which Python calls
a slice.

Since a list is a collection of items, we should be able to get any subset of those items. For example, if we want to get just the first three items from the list, we should be able to do so easily. The same should be true for any three items in the middle of the list, or the last three items, or any x items from anywhere in the list. These subsets of a list are called *slices*.

To get a subset of a list, we give the position of the first item we want, and the position of the first item we do *not* want to include in the subset. So the slice *list[0:3]* will return a list containing items 0, 1, and 2, but not item 3. Here is how you get a batch containing the first three items.

- Another way to think about this would be through [inclusive, exclusive)

In [ ]:
usernames = ['eugene', 'jeremiah', 'toguro', 'alfred', 'jenny']

# Grab the first three users in the list.
first_batch = usernames[0:3]

# inclusive of eugene, exclusive of alfred 

for user in first_batch:
    print(user.title())

Eugene
Jeremiah
Toguro

Python stops one item
before the second index you specify. To output the first three elements
in a list, you would request indices 0 through 3, which would return elements
0, 1, and 2.

If you want to grab everything up to a certain position in the list, you can also leave the first index blank:

In [ ]:

usernames = ['eugene', 'jeremiah', 'toguro', 'alfred', 'jenny']

# Grab the first three users in the list.
first_batch = usernames[:3]

for user in first_batch:
    print(user.title())

Eugene
Jeremiah
Toguro

When we grab a slice from a list, the original list is not affected:

In [ ]:

usernames = ['eugene', 'jeremiah', 'toguro', 'alfred', 'jenny']

# Grab the first three users in the list.
first_batch = usernames[0:3]
print("First batch: ", first_batch)

# The original list is unaffected.
for user in usernames:
    print(user.title())

First batch:  ['eugene', 'jeremiah', 'toguro']
Eugene
Jeremiah
Toguro
Alfred
Jenny

We can get any segment of a list we want, using the slice method:

In [ ]:
usernames = ['eugene', 'jeremiah', 'toguro', 'alfred', 'jenny']

# Grab a batch from the middle of the list.
middle_batch = usernames[1:4]

for user in middle_batch:
    print(user.title())

Jeremiah
Toguro
Alfred

To get all items from one position in the list to the end of the list, we can leave off the second index:

In [ ]:
usernames = ['eugene', 'jeremiah', 'toguro', 'alfred', 'jenny']

# Grab all users from the third to the end.
end_batch = usernames[2:]

for user in end_batch:
    print(user.title())

Toguro
Alfred
Jenny

## Looping through a slice

Putting the concepts of for loops and list slices together, we can do the following for a list of players on a sports roster:

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

print("Here are the first three players on my team:")
for player in players[:3]:
  print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

### Copying a list
- Often, you’ll want to start with an existing list and make an entirely new list
based on the first one.

- You can use the slice notation to make a copy of a list, by leaving out both the starting and the ending index. This causes the slice to consist of everything from the first item to the last, which is the entire list.

- To copy a list, you can make a slice that includes the entire original list
by omitting the first index and the second index ([:]). This tells Python to
make a slice that starts at the first item and ends with the last item, producing
a copy of the entire list.

- For example, imagine we have a list of our favorite foods and want to
make a separate list of foods that a friend likes. This friend likes everything
in our list so far, so we can create their list by copying ours:

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]


print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

To prove that we actually have two separate lists, we’ll add a new food
to each list and show that each list keeps track of the appropriate person’s
favorite foods:

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('sisig')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'sisig']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

If we had simply set friend_foods
equal to my_foods, we would not produce two separate lists. For example,
here’s what happens when you try to copy a list without using a slice

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']

friend_foods = my_foods

my_foods.append('sisig')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'sisig', 'ice cream']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'sisig', 'ice cream']

Instead of storing a copy of my_foods in friend_foods at u, we set
friend_foods equal to my_foods. This syntax actually tells Python to connect
the new variable friend_foods to the list that is already contained in
my_foods, so now both variables point to the same list.

**Note:** if you’re trying to
work with a copy of a list and you see unexpected behavior, make sure you are copying
the list using a slice, as we did in the first example.

In [ ]:
usernames = ['eugene', 'jeremiah', 'toguro', 'alfred', 'jenny']

# Make a copy of the list.
copied_usernames = usernames[:]
print("The full copied list:\n\t", copied_usernames)

# Remove the first two users from the copied list.
del copied_usernames[0]
del copied_usernames[0]
print("\nTwo users removed from copied list:\n\t", copied_usernames)

# The original list is unaffected.
print("\nThe original list:\n\t", usernames)

The full copied list:
	 ['eugene', 'jeremiah', 'toguro', 'alfred', 'jenny']

Two users removed from copied list:
	 ['toguro', 'alfred', 'jenny']

The original list:
	 ['eugene', 'jeremiah', 'toguro', 'alfred', 'jenny']

Numerical Lists
===
There is nothing special about lists of numbers, but there are some functions you can use to make working with numerical lists more efficient. Let's make a list of the first ten numbers, and start working with it to see how we can use numbers in a list.

In [ ]:
# Print out the first ten numbers.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

The *range()* function
---
This works, but it is not very efficient if we want to work with a large set of numbers. The *range()* function helps us generate long lists of numbers. Here are two ways to do the same thing, using the *range* function.

In [ ]:
# Print the first ten numbers.
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

The range function takes in a starting number, and an end number. You get all integers, up to but not including the end number. You can also add a *step* value, which tells the *range* function how big of a step to take between numbers:

In [ ]:
# Print the first ten odd numbers.
for number in range(1,21,2):
    print(number)

1
3
5
7
9
11
13
15
17
19

If we want to store these numbers in a list, we can use the *list()* function. This function takes in a range, and turns it into a list:

In [ ]:
# Create a list of the first ten numbers.
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

This is incredibly powerful; we can now create a list of the first million numbers, just as easily as we made a list of the first ten numbers. It doesn't really make sense to print the million numbers here, but we can show that the list really does have one million items in it, and we can print the last ten items to show that the list is correct.

In [ ]:
# Store the first million numbers in a list.
numbers = list(range(1,1000001))

# Show the length of the list:
print("The list 'numbers' has " + str(len(numbers)) + " numbers in it.")

# Show the last ten numbers:
print("\nThe last ten numbers in the list are:")
for number in numbers[-10:]:
    print(number)

The list 'numbers' has 1000000 numbers in it.

The last ten numbers in the list are:
999991
999992
999993
999994
999995
999996
999997
999998
999999
1000000

There are two things here that might be a little unclear. The expression

    str(len(numbers))

takes the length of the *numbers* list, and turns it into a string that can be printed.

The expression 

    numbers[-10:]

gives us a *slice* of the list. The index `-1` is the last item in the list, and the index `-10` is the item ten places from the end of the list. So the slice `numbers[-10:]` gives us everything from that item to the end of the list.

Simple statistics: The *min()*, *max()*, and *sum()* functions
---
There are three functions you can easily use with numerical lists. As you might expect, the *min()* function returns the smallest number in the list, the *max()* function returns the largest number in the list, and the *sum()* function returns the total of all numbers in the list.

In [ ]:
ages = [23, 16, 14, 28, 19, 11, 38]

youngest = min(ages)
oldest = max(ages)
total_years = sum(ages)

print("Our youngest reader is " + str(youngest) + " years old.")
print("Our oldest reader is " + str(oldest) + " years old.")
print("Together, we have " + str(total_years) + " years worth of life experience.")

Our youngest reader is 11 years old.
Our oldest reader is 38 years old.
Together, we have 149 years worth of life experience.

Strings as Lists
===
Now that you have some familiarity with lists, we can take a second look at strings. A string is really a list of characters, so many of the concepts from working with lists behave the same with strings.

Strings as a list of characters
---
We can loop through a string using a *for* loop, just like we loop through a list:

In [ ]:
message = "Hello!"

for letter in message:
    print(letter)

H
e
l
l
o
!

We can create a list from a string. The list will have one element for each character in the string:

In [ ]:
message = "Hello world!"

message_list = list(message)
print(message_list)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

Slicing strings
---
We can access any character in a string by its position, just as we access individual items in a list:

In [ ]:
message = "Hello World!"
first_char = message[0]
last_char = message[-1]

print(first_char, last_char)

H !

We can extend this to take slices of a string:

In [ ]:
message = "Hello World!"
first_three = message[:3]
last_three = message[-3:]

print(first_three, last_three)

Hel ld!

Finding substrings
---
Now that you have seen what indexes mean for strings, we can search for *substrings*. A substring is a series of characters that appears in a string.

You can use the *in* keyword to find out whether a particular substring appears in a string:

In [ ]:
message = "I like cats and dogs."
dog_present = 'dog' in message
print(dog_present)

True

If you want to know where a substring appears in a string, you can use the *find()* method. The *find()* method tells you the index at which the substring begins.

In [ ]:
message = "I like cats and dogs."
dog_index = message.find('dog')
print(dog_index)

16

In [ ]:
print(message[16])

d

Note, however, that this function only returns the index of the first appearance of the substring you are looking for. If the substring appears more than once, you will miss the other substrings.

In [ ]:

message = "I like cats and dogs, but I'd much rather own a dog."
dog_index = message.find('dog')
print(dog_index)

16

If you want to find the last appearance of a substring, you can use the *rfind()* function:

In [ ]:

message = "I like cats and dogs, but I'd much rather own a dog."
last_dog_index = message.rfind('dog')
print(last_dog_index)

48

Replacing substrings
---
You can use the *replace()* function to replace any substring with another substring. To use the *replace()* function, give the substring you want to replace, and then the substring you want to replace it with. You also need to store the new string, either in the same string variable or in a new variable.

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
message = message.replace('dog', 'snake')
print(message)

I like cats and snakes, but I'd much rather own a snake.

Counting substrings
---
If you want to know how many times a substring appears within a string, you can use the *count()* method.

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
number_dogs = message.count('dog')
print(number_dogs)

2

Splitting strings
---
Strings can be split into a set of substrings when they are separated by a repeated character. If a string consists of a simple sentence, the string can be split based on spaces. The *split()* function returns a list of substrings. The *split()* function takes one argument, the character that separates the parts of the string.

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
words = message.split(' ')
print(words)

['I', 'like', 'cats', 'and', 'dogs,', 'but', "I'd", 'much', 'rather', 'own', 'a', 'dog.']

Notice that the punctuation is left in the substrings.

It is more common to split strings that are really lists, separated by something like a comma. The *split()* function gives you an easy way to turn comma-separated strings, which you can't do much with in Python, into lists. Once you have your data in a list, you can work with it in much more powerful ways.

In [ ]:
animals = "dog, cat, tiger, mouse, liger, bear"

# Rewrite the string as a list, and store it in the same variable
animals = animals.split(',')
print(animals)

['dog', ' cat', ' tiger', ' mouse', ' liger', ' bear']

Notice that in this case, the spaces are also ignored. It is a good idea to test the output of the *split()* function and make sure it is doing what you want with the data you are interested in.

One use of this is to work with spreadsheet data in your Python programs. Most spreadsheet applications allow you to dump your data into a comma-separated text file. You can read this file into your Python program, or even copy and paste from the text file into your program file, and then turn the data into a list. You can then process your spreadsheet data using a *for* loop.

Other string methods
---
There are a number of [other string methods](http://docs.python.org/3.3/library/stdtypes.html#string-methods) that we won't go into right here, but you might want to take a look at them. Most of these methods should make sense to you at this point. You might not have use for any of them right now, but it is good to know what you can do with strings. This way you will have a sense of how to solve certain problems, even if it means referring back to the list of methods to remind yourself how to write the correct syntax when you need it.

Tuples
===
Tuples are basically lists that can never be changed. Lists are quite dynamic; they can grow as you append and insert items, and they can shrink as you remove items. You can modify any element you want to in a list. Sometimes we like this behavior, but other times we may want to ensure that no user or no part of a program can change a list. That's what tuples are for.

Technically, lists are *mutable* objects and tuples are *immutable* objects. Mutable objects can change (think of *mutations*), and immutable objects can not change.


Defining tuples, and accessing elements
---

You define a tuple just like you define a list, except you use parentheses instead of square brackets. Once you have a tuple, you can access individual elements just like you can with a list, and you can loop through the tuple with a *for* loop:

In [ ]:
colors = ('red', 'green', 'blue')
print("The first color is: " + colors[0])

print("\nThe available colors are:")
for color in colors:
    print("- " + color)

The first color is: red

The available colors are:
- red
- green
- blue

If you try to add something to a tuple, you will get an error:

In [ ]:
colors = ('red', 'green', 'blue')
colors.append('purple')

AttributeError: ignored

The same kind of thing happens when you try to remove something from a tuple, or modify one of its elements. Once you define a tuple, you can be confident that its values will not change.

**When would you want an immutable list?**

For example, if we have a rectangle that should always be a certain size,
we can ensure that its size doesn’t change by putting the dimensions into a
tuple:

In [ ]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

## Looping through values in a tuple

In [ ]:
dimensions = (200, 50)
for dimension in dimensions:
  print(dimension)

200
50

## Writing over a Tuple

Although you can’t modify a tuple, you can assign a new value to a variable
that holds a tuple. So if we wanted to change our dimensions, we could
redefine the entire tuple:

In [ ]:
dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
  print(dimension)

dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
  print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

## DIY 5: Picking Buffet Food

1. A buffet-style restaurant offers only five basic foods. Think of five
simple foods, and store them in a tuple.
2. Use a for loop to print each food the restaurant offers.
3. Try to modify one of the items, and make sure that Python rejects the
change. 
4. The restaurant changes its menu, replacing two of the items with different
foods. Add a block of code that rewrites the tuple, and then use a for
loop to print each of the items on the revised menu.

In [ ]:
# write your code here

In [ ]:
# write your code here

In [ ]:
# write your code here

In [ ]:
# write your code here

Using tuples to make strings
---
We have seen that it is pretty useful to be able to mix raw English strings with values that are stored in variables, as in the following:

In [ ]:
animal = 'dog'
print("I have a " + animal + ".")

I have a dog.

This was especially useful when we had a series of similar statements to make:

In [ ]:
animals = ('dog', 'cat', 'bear')
for animal in animals:
    print("I have a " + animal + ".")

I have a dog.
I have a cat.
I have a bear.

I like this approach of using the plus sign to build strings because it is fairly intuitive. We can see that we are adding several smaller strings together to make one longer string. This is intuitive, but it is a lot of typing. There is a shorter way to do this, using *placeholders*.

Python ignores most of the characters we put inside of strings. There are a few characters that Python pays attention to, as we saw with strings such as "\t" and "\n". Python also pays attention to "%s" and "%d". These are placeholders. When Python sees the "%s" placeholder, it looks ahead and pulls in the first argument after the % sign:

In [ ]:
animal = 'dog'
print("I have a %s." % animal)

I have a dog.

This is a much cleaner way of generating strings that include values. We compose our sentence all in one string, and then tell Python what values to pull into the string, in the appropriate places.

This is called *string formatting*, and it looks the same when you use a list:

In [ ]:
animals = ('dog', 'cat', 'bear')
for animal in animals:
    print("I have a %s." % animal)

I have a dog.
I have a cat.
I have a bear.

If you have more than one value to put into the string you are composing, you have to pack the values into a tuple:

In [ ]:
animals = ('dog', 'cat', 'bear')
print("I have a %s, a %s, and a %s." % (animals[0], animals[1], animals[2]))

I have a dog, a cat, and a bear.

### String formatting with numbers

If you recall, printing a number with a string can cause an error:

In [ ]:
number = 23
print("My favorite number is " + number + ".")

TypeError: ignored

Python knows that you could be talking about the value 23, or the characters '23'. So it throws an error, forcing us to clarify that we want Python to treat the number as a string. We do this by *casting* the number into a string using the *str()* function:

In [ ]:

number = 23
print("My favorite number is " + str(number) + ".")

My favorite number is 23.

The format string "%d" takes care of this for us. Watch how clean this code is:

In [ ]:

number = 23
print("My favorite number is %d." % number)

My favorite number is 23.

In [ ]:

float_number = 23.01
print("My favorite number is %f." % float_number) #example of a float

My favorite number is 23.010000.

If you want to use a series of numbers, you pack them into a tuple just like we saw with strings:

In [ ]:
numbers = (7, 23, 42)
print("My favorite numbers are %d, %d, and %d." % (numbers[0], numbers[1], numbers[2]))

My favorite numbers are 7, 23, and 42.

Just for clarification, look at how much longer the code is if you use concatenation instead of string formatting:

In [ ]:

numbers = (7, 23, 42)
print("My favorite numbers are " + str(numbers[0]) + ", " + str(numbers[1]) + ", and " + str(numbers[2]) + ".")

My favorite numbers are 7, 23, and 42.

You can mix string and numerical placeholders in any order you want.

In [ ]:
names = ('jericho', 'alfred')
numbers = (23, 2)
print("%s's favorite number is %d, and %s's favorite number is %d." % (names[0].title(), numbers[0], names[1].title(), numbers[1]))

Jericho's favorite number is 23, and Alfred's favorite number is 2.

There are more sophisticated ways to do string formatting in Python 3, but we will save that for later because it's a bit less intuitive than this approach. For now, you can use whichever approach consistently gets you the output that you want to see.