# Ramen Ratings 

## About Dataset
### Context
The Ramen Rater is a product review website for the hardcore ramen enthusiast (or "ramenphile"), with over 2500 reviews to date. This dataset is an export of "The Big List" (of reviews), converted to a CSV format.

### Content
Each record in the dataset is a single ramen product review. Review numbers are contiguous: more recently reviewed ramen varieties have higher numbers. Brand, Variety (the product name), Country, and Style (Cup? Bowl? Tray?) are pretty self-explanatory. Stars indicate the ramen quality, as assessed by the reviewer, on a 5-point scale; this is the most important column in the dataset!

Note that this dataset does not include the text of the reviews themselves. For that, you should browse through https://www.theramenrater.com/ instead!

Acknowledgements
This dataset is republished as-is from the original BIG LIST on https://www.theramenrater.com/.

## Import the necessary packages

## Upload and read the `ramen-ratings.csv` dataset

## Explore the dataset and print out basic statistics

1. View the first 10 rows
2. Print out the dimensinos of the dataset
3. Print out the column names
4. View the datatypes of each variable

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

(2580, 7)

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

## Data Exploration 

Answer the following questions creatively, and include what we learned from plotting / charts to visualize your results. 

1. What is the most common style of ramen packaging? 
2. What are the top 5 countries that manufacture the most ramen? 
3. What are the top 10 most popular ramen brands? 
4. In the Philippines, what is the most popular ramen brand? 
5. Find 3 additional observations from this dataset, and share what business insight we can explore further from these observations. (Hint: how can you use the 'stars' column? and what kind of data preprocessing needs to be done for you to be able to ingest the data?)